/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 28px;
  background-color: #fff;
  color: rgb(11, 10, 10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 20px;
  color: #333;
}

.nav-links {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
  transform: translateX(-100%);
}

.nav-links.open {
  transform: translateX(0); /* Slide in from the left when open */
}


.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(10, 144, 3);
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.form-inline {
  display: flex;
  margin-right: 20px;
  width: 520px;
}

.form-control {
  margin-right: 10px;
  width: 88%;
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  font-family: "Poppins", system-ui;
  font-weight: 500;
}

.navbar-right .btn {
  border: none;
  padding: 0.4rem 2rem;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  cursor: pointer;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links .nav-link {
  margin-left: 15px;
}

.auth-links .signin {
  background-color: rgb(10, 144, 3);
  color: #fff;
  padding: 0.4rem 2rem;
  border-radius: 4px;
}

.auth-links .signup {
  background-color: transparent;
  color: rgb(10, 144, 3);
  padding: 0.4rem 2rem;
  border: 1px solid rgb(10, 144, 3);
  border-radius: 4px;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  color: #333;
  font-size: 1.5em;
  cursor: pointer;
}

/* media query */
@media (max-width: 768px){
  .navbar-toggler{
    display: block;
    margin-right: 20px;
    font-size: 2.2rem;
  }

  .nav-links{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; /* Transition for sliding effect */
  }

  .nav-links.open {
    transform: translateX(0); /* Slide in */
  }

  .navbar-nav{
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    background-color: rgb(215, 214, 214);
    line-height: 60px;
    top: 65px;
    left: 0;
    text-align: center;
  }

  .nav-item{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
  }

  /* signin-signup buttons */
  .auth-links{
    position: absolute;
    top: 500px;
    flex-direction: column;
    width: 80%;
    left: 78px;
  }

  .auth-links .nav-link{
    width: 60%;
    margin: 10px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* search box */
  .form-inline{
    width: 100%;
  }

  /* logo */
  .logo{
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    white-space: nowrap;
  }

}